.ant-drawer-body {
  padding: 8px!important;
  overflow: hidden!important;
}
.ant-drawer-body>.ant-row {
  height: 100%;
  width: 100% !important;
  overflow: hidden;
}
.ant-drawer-body>.ant-row>.ant-col {
  height: 100%;
  overflow-y: auto;
}
.ant-row {
  width: 100% !important;
}
.ant-drawer-header {
  padding: 0 16px!important;
}
.ant-tabs-bar {
  margin: 0;
  border-bottom: none;
}
.ant-drawer-header-title, 
.ant-drawer-title {
  width: 100%;
}
.ant-tabs-top>.ant-tabs-nav {
  margin: 0!important;
}
.ant-tag-checkable {
  background: #fafafa;
  border: 1px solid #d9d9d9;
}
.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  border: 1px solid #1890ff;
}
.ant-tag-checkable:active, .ant-tag-checkable-checked {
  border: 1px solid #1890ff;
  color:  #1890ff;
}