/**
 * No mixins for output here.
 * If you want to expose some mixins,
 * define them to `legacy/common/styles/atomic`
 */
/* stylelint-disable */
.ant-drawer-content {
  font-size: 14px;
  color: #263238;
}
.ant-drawer-content hr {
  border: 1px solid #eceff1;
  background-color: #eceff1;
}
.ant-drawer-content a {
  pointer-events: auto;
  color: #607d8b;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom-color 0.3s;
  -o-transition: border-bottom-color 0.3s;
  transition: border-bottom-color 0.3s;
}
.ant-drawer-content a:hover {
  border-bottom-color: #607d8b;
}
.ant-drawer-content pre {
  background: #f7f9fa;
  padding: 10px 15px;
  color: #263238;
  line-height: 1.6;
  font-size: 13px;
  border-radius: 3px;
}
.ant-drawer-content pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
.ant-drawer-content code {
  color: #546e7a;
  background-color: #f7f9fa;
  padding: 2px 4px;
  font-size: 13px;
  border-radius: 3px;
  font-family: monospace;
}
.ant-drawer-content table {
  margin-bottom: 16px;
}
.ant-drawer-content table th,
.ant-drawer-content table td {
  padding: 6px 12px;
  border: 1px solid #dddddd;
}
.ant-drawer-content table tr {
  border-top: 1px solid #dddddd;
}
.ant-drawer-content table tr:nth-child(2n) {
  background-color: #f7f9fa;
}
.ant-drawer-content blockquote {
  padding-left: 15px;
  border-left: 5px solid #eceff1;
  color: #616161;
}
.ant-drawer-content p {
  font-size: inherit;
}
.ant-drawer-content pre {
  white-space: pre-wrap;
}
.ant-drawer-content img {
  max-width: 100%;
  height: auto !important;
}

.question-name {
  line-height: 44px;
}
