.icon-image {
  width: 20px;
}

.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-rigth: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mr-20 {
  margin-rigth: 20px;
}

.flex {
  display: flex;
}

.link-color {
  color: #40a9ff!important;
  text-decoration: none;
}

.right {
  float: right;
}

.items-center {
    @extend .flex;
    align-items: center;
  }
  
  .justify-between {
    @extend .flex;
    justify-content: space-between;
  }

  .solution-btn {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    /* text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%); */
    border-radius: 8px;
    padding: 2px 3px;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 50px;
    min-width: 50px;
  }

  .solution-btn-parent {
    position: relative;
  }
  .hidden-el {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
